@using System.Globalization;

@model Tuple<List<mainMasterpiesce.Models.patient>, List<mainMasterpiesce.Models.appointment>>
@{
    ViewBag.Title = "patient profile";
    Layout = "~/Views/Shared/_patientprofile.cshtml";
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">

<!-- Main Wrapper -->
<!-- Profile Sidebar -->
<!-- / Profile Sidebar -->

<div class="col-md-7 col-lg-8 col-xl-9">
    <div class="card">
        <div class="card-body pt-0">

            <!-- Tab Menu -->
            <nav class="user-tabs mb-4">
                <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" href="#pat_appointments"
                           data-toggle="tab">Upcoming Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pat_prescriptions"
                           data-toggle="tab">Previous appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pat_medical_records" data-toggle="tab">
                            @*@if()*@
                            <span id="rightNow" class="med-records">Right Now</span>
                        </a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="#pat_billing" data-toggle="tab">Billing</a>
                        </li>*@
                </ul>
            </nav>
            <!-- /Tab Menu -->
            <!-- Tab Content -->
            <div class="tab-content pt-0">

                <!-- Appointment Tab -->
                <div id="pat_appointments" class="tab-pane fade show active">
                    <div class="card card-table mb-0">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Doctor</th>
                                            <th>Appt Date</th>
                                            <th>Booking Date</th>
                                            <th>Amount</th>
                                            <th>Reason for Appointment</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Item2 != null && Model.Item2.Count > 0 && Model.Item2[0].starttime != null)
                                        {

                                            foreach (var item in Model.Item2.OrderByDescending(c => DateTime.ParseExact(c.starttime, "h:mm ttdd/MM", CultureInfo.InvariantCulture)))
                                            {
                                                DateTime storedDateTime = DateTime.ParseExact(item.starttime, "h:mm ttdd/MM", CultureInfo.InvariantCulture);



                                                if (storedDateTime > DateTime.Now)
                                                {






                                                    <tr>

                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="doctor-profile.html"
                                                                   class="avatar avatar-sm mr-2">


                                                                    <img class="avatar-img rounded-circle"
                                                                         src="@Url.Content(item.doctor.picdoctor)"
                                                                         alt="User Image">
                                                                </a>
                                                                <a href="doctor-profile.html">
                                                                    Dr.@item.doctor.doctorName
                                                                    <span>@item.doctor.specialization1.namespecialization       </span>
                                                                </a>
                                                            </h2>
                                                        <td>
                                                            @item.starttime.Substring(item.starttime.Length - 5) /@DateTime.Now.Year <span class="d-block text-info">
                                                                @item.starttime.Substring(0, item.starttime.Length - 5)
                                                            </span>
                                                        </td>
                                                        @{

                                                            var datt = item.BookingDate.ToString().Substring(0, 9);
                                                        }

                                                        <td>@item.BookingDate.Value.Day/@item.BookingDate.Value.Month/@item.BookingDate.Value.Year</td>
                                                        <td>$@item.apointmentprice</td>
                                                        <td>@item.doctor.specialization1.namespecialization  </td>
                                                        @*<td>16 Nov 2019</td>*@
                                                        <td>
                                                            @*@if (item.starttime)
                                                                {




                                                                }*@


                                                            @{



                                                                if (DateTime.Now.ToString("MM/dd") == storedDateTime.ToString("MM/dd"))
                                                                {
                                                                    // Output "Pending"
                                                                    int storedHour = storedDateTime.Hour;
                                                                    int currentHour = DateTime.Now.Hour;

                                                                    <!--if (storedHour == currentHour)
                                                                    {

                                                                        <a href="@item.JoinUrl" class="btn btn-sm" style="color: white; background-color:#20BBBD">Start Session</a>-->
                                                                    @*<span class="badge badge-pill bg-danger-light">Pending</span>*@


                                                                    <!--}-->

                                                                    if (storedHour > currentHour)
                                                                    {




                                                                        <a href="@Url.Action("Waiting", "DoctorsInfo")"
                                                                           class="btn btn-sm" style="color: white; background-color:#20BBBD">
                                                                            Waiting Soon
                                                                        </a>







                                                                    }




                                                                }




                                                                if (DateTime.Now.ToString("MM/dd") != storedDateTime.ToString("MM/dd"))
                                                                {

                                                                    <span class="badge badge-pill bg-danger-light">Pending</span>

                                                                }

                                                                // Output "Confirm"






                                                            }



                                                        </td>

                                                        <td class="text-right">
                                                            <div class="table-action">
                                                                @*<a href="javascript:void(0);"
                                                                       class="btn btn-sm bg-primary-light">
                                                                        <i class="fas fa-print"></i> Print
                                                                    </a>*@
                                                                @*<a href="javascript:void(0);"
                                                                       class="btn btn-sm bg-info-light">
                                                                        <i class="far fa-eye"></i> View
                                                                    </a>*@
                                                            </div>
                                                        </td>
                                                    </tr>

                                                }

                                            }


                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Appointment Tab -->
                <!-- Prescription Tab -->
                <div class="tab-pane fade" id="pat_prescriptions">
                    <div class="card card-table mb-0">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Doctor</th>
                                            <th>Appt Date</th>
                                            <th>Booking Date</th>
                                            <th>Amount</th>
                                            <th>Reason for Appointment</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        @foreach (var item in Model.Item2.OrderByDescending(c => DateTime.ParseExact(c.starttime, "h:mm ttdd/MM", CultureInfo.InvariantCulture)))
                                        {
                                            DateTime storedDateTime = DateTime.ParseExact(item.starttime, "h:mm ttdd/MM", CultureInfo.InvariantCulture);

                                            if (storedDateTime < DateTime.Now)
                                            {





                                                <tr>

                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="doctor-profile.html"
                                                               class="avatar avatar-sm mr-2">


                                                                <img class="avatar-img rounded-circle"
                                                                     src="@Url.Content(item.doctor.picdoctor)"
                                                                     alt="User Image">
                                                            </a>
                                                            <a href="doctor-profile.html">
                                                                Dr.@item.doctor.doctorName
                                                                <span>@item.doctor.specialization1.namespecialization       </span>
                                                            </a>
                                                        </h2>
                                                    <td>
                                                        @item.starttime.Substring(item.starttime.Length - 5) /@DateTime.Now.Year <span class="d-block text-info">
                                                            @item.starttime.Substring(0, item.starttime.Length - 5)
                                                        </span>
                                                    </td>
                                                    @{
                                                        if (item.BookingDate.HasValue)
                                                        {


                                                            var datt = item.BookingDate.ToString().Substring(0, 9);
                                                        }


                                                    }
                                                    @if (item.BookingDate.HasValue)
                                                    {


                                                        <td>@item.BookingDate.Value.Day/@item.BookingDate.Value.Month/@item.BookingDate.Value.Year</td>
                                                    }
                                                    <td>$@item.apointmentprice</td>
                                                    <td>@item.doctor.specialization1.namespecialization  </td>

                                                    <td>



                                                        @{










                                                            <span class="badge badge-pill bg-success-light">Confirm</span>




                                                        }



                                                    </td>

                                                    <td class="text-right">
                                                        <div class="table-action">

                                                        </div>
                                                    </td>
                                                </tr>

                                            }

                                        }

































                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Prescription Tab -->
                <!-- Medical Records Tab -->
                <div id="pat_medical_records" class="tab-pane fade">
                    <div class="card card-table mb-0">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th>Doctor</th>
                                            <th>Appt Date</th>
                                            <th>Booking Date</th>
                                            <th>Amount</th>
                                            <th>Reason for Appointment</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int rightnow = 0;

                                        }

                                        @foreach (var item in Model.Item2.OrderByDescending(c => DateTime.ParseExact(c.starttime, "h:mm ttdd/MM", CultureInfo.InvariantCulture)))
                                        {

                                            DateTime storedDateTime = DateTime.ParseExact(item.starttime, "h:mm ttdd/MM", CultureInfo.InvariantCulture);

                                            if (DateTime.Now.ToString("MM/dd") == storedDateTime.ToString("MM/dd"))
                                            {

                                                // Output "Pending"
                                                int storedHour = storedDateTime.Hour;
                                                int currentHour = DateTime.Now.Hour;



                                                if (DateTime.Now.ToString("MM/dd") == storedDateTime.ToString("MM/dd") && storedHour == currentHour)
                                                {

                                                    rightnow++;



                                                    <tr>

                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="doctor-profile.html"
                                                                   class="avatar avatar-sm mr-2">


                                                                    <img class="avatar-img rounded-circle"
                                                                         src="@Url.Content(item.doctor.picdoctor)"
                                                                         alt="User Image">
                                                                </a>
                                                                <a href="doctor-profile.html">
                                                                    Dr.@item.doctor.doctorName
                                                                    <span>@item.doctor.specialization1.namespecialization       </span>
                                                                </a>
                                                            </h2>
                                                        <td>
                                                            @item.starttime.Substring(item.starttime.Length - 5) /@DateTime.Now.Year <span class="d-block text-info">
                                                                @item.starttime.Substring(0, item.starttime.Length - 5)
                                                            </span>
                                                        </td>
                                                        @{

                                                            var datt = item.BookingDate.ToString().Substring(0, 9);
                                                        }

                                                        <td>@item.BookingDate.Value.Day/@item.BookingDate.Value.Month/@item.BookingDate.Value.Year</td>
                                                        <td>$@item.apointmentprice</td>
                                                        <td>@item.doctor.specialization1.namespecialization  </td>

                                                        <td>














                                                            <a href="@item.JoinUrl" class="btn btn-sm" style="color: white; background-color:#20BBBD">Start Session</a>








                                                        </td>

                                                        <td class="text-right">
                                                            <div class="table-action">

                                                            </div>
                                                        </td>
                                                    </tr>

                                                }
                                                else
                                                {







                                                }

                                            }


                                        }










                               
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Medical Records Tab -->
                <!-- Billing Tab -->
             
                <!-- /Billing Tab -->

            </div>
            <!-- Tab Content -->

        </div>
    </div>
</div>
                </div>

            </div>

        </div>
<!-- /Page Content -->
<!-- Footer -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
@if (TempData["swal_message"] != null && TempData["welcome"] != null && TempData["welcome"].ToString() != "")
{
    <script>
        Swal.fire({
            title: "@ViewBag.title",
            text: "@TempData["swal_message"]",
            icon: "@ViewBag.icon",

             allowOutsideClick: false, // prevent clicking outside the dialog to close it
            allowEscapeKey: false // prevent pressing the escape key to close it


        }).then(function () {
            window.location.href = "/DoctorsInfo/patientProfile";

        });;







    </script>
}

<script>
    var rightNow = @rightnow; // get the value of the rightnow variable from the server-side code
    setInterval(function () {
        var rightNowElement = document.getElementById("rightNow");

        if (rightNow >= 1) {




            if (rightNow % 2 == 0) {
                // Change the color and boldness every 2 seconds
                rightNowElement.style.color = "red";
                rightNowElement.style.fontWeight = "bold";
                rightNowElement.style.fontSize = "30px";
            } else {
                // Remove the color and boldness every 1 second
                rightNowElement.style.color = "";
                rightNowElement.style.fontWeight = "normal";
                rightNowElement.style.fontSize = "20px";
            }
            rightNow++;
        }
        }, 1000);
</script>

<!-- /Footer -->
@if (TempData["swal_message"] != null && TempData["notUser"]?.ToString() != null && TempData["notUser"].ToString() != "")
{
    <script>
        Swal.fire({
            title: "@ViewBag.title",
            text: "@TempData["swal_message"]",
            icon: "@ViewBag.icon",

            allowOutsideClick: false, // prevent clicking outside the dialog to close it
            allowEscapeKey: false // prevent pressing the escape key to close it
        }).then(function () {
            window.location.href = "@Url.Action("Login", "Account")";
        });
    </script>
}

@if (TempData["swal_message"] == "Thank You for your feedback")
{
    <script>
        Swal.fire({
            title: "@ViewBag.title",
            text: "@TempData["swal_message"]",
            icon: "@ViewBag.icon",

            allowOutsideClick: false, // prevent clicking outside the dialog to close it
            allowEscapeKey: false // prevent pressing the escape key to close it
        }).then(function () {
       window.location.href = window.location.pathname;
        });
    </script>
}


@if (TempData["swal_message"] == "please Add Feedback before submit")
{
    <script>
        Swal.fire({
            title: "@ViewBag.title",
            text: "@TempData["swal_message"]",
            icon: "@ViewBag.icon",

            allowOutsideClick: false, // prevent clicking outside the dialog to close it
            allowEscapeKey: false // prevent pressing the escape key to close it
        }).then(function () {
       window.location.href = window.location.pathname;
        });
    </script>
}










