
@model Tuple<List<mainMasterpiesce.Models.doctor>, List<mainMasterpiesce.Models.specialization>, List<mainMasterpiesce.Models.feedbackwebsite>>

@{
    //ViewBag.Title = "About";
    Layout = "~/Views/Shared/mainLayout.cshtml";
}




<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">

@RenderPage("~/Views/Shared/_Section.cshtml")



<style>

    .box1:hover {
        height: 600px;
    }
</style>
<h1 style="text-align:center;align-items:center;font-size:40PX;margin-bottom:70PX;margin-top:70PX">Our Story </h1>
<div class="alll" style="margin-bottom:100PX">

    <div class="rightt">

        <img src="/Content/images/psych12.png" width="600" class="sup" style="align-items:center" />
    </div>
    <div class="parag">


        <p class="our">
            About us
        </p>
        <div class="two">
            <div class="ic">




            </div>


            <p class="team">

                Our website is dedicated to providing resources and information for seniors and their caregivers.
            </p>

            <p class="team">


                We are constantly updating and adding new information and resources to our site, so be sure to check back often to see what's new.
            </p>

            <p class="team">


                We are constantly updating and adding new information and resources to our site, so be sure to check back often to see what's new.
            </p>


        </div>




    </div>



</div>




@*STORY*@


<!-- Promo Video -->
<section class="promo-video">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block text-center">
                    <h6>About Our Website</h6>

                    <a data-fancybox href=" https://www.youtube.com/watch?v=LJ8WcgzeXuoautoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"><i class="fa fa-play"></i></a>

                    @*<a data-fancybox href="https://www.youtube.com/watch?v=LJ8WcgzeXuo;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"><i class="fa fa-play"></i></a>*@
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3>
                        Key Benefits of Finding Peace

                    </h3>
                    <p>
                        Leverage agile frameworks to provide a robust synopsis for high level overv-
                        <br>iews. Iterative approaches to corporate strategy...
                    </p>
                </div>
            </div>
            @*111111111111111111111111111*@

            @foreach (var item in Model.Item2)
            {

                <div class="col-md-3 col-sm-6">
                    @*individual*@

                    <div class="gallery-item">

                        <div class="box1 img-responsive" style="height:435px;">
                            <h4 style="padding-top:40px;">@item.namespecialization</h4>
                            <img style="margin-bottom:-10px" src="~/Content/images/@Url.Content(item.picturespecialization)" width="200" alt="covering" />


                            <i style="font-size:50px;color:black;margin-bottom:20px" class="fa fa-play"></i>

                            <p class="osama" style="color:black;text-align:center;margin-left:-20px;margin-bottom:-20px;">

                                @item.descriptionspecialization
                            </p>


                        </div>


                        @*<img src="~/Content/images/gallery/gallery-01.jpg" class="img-responsive" alt="gallery-image">*@
                        <a data-fancybox href=" @item.videospecializaion;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"></a>
                        @*<a data-fancybox="~/Content/images" href="~/Content/images/gallery/gallery-01.jpg"></a>*@
                        @*<h3> Save time and effort</h3>*@
                        @*<p>

                                Get your session online. No waiting lists, no transportation hassles
                            </p>*@
                    </div>
                </div>


            }





        </div>
    </div>
</section>
<section class="testimonial-section" style="background: url(~/Content/images/testimonials/1.jpg); margin-top: 150px; ">
    <div class="container">
        <div class="section-title text-center">
            <h3 style="color: #15767D">
                What Our
                <span style="color: #15767D">Patients Says</span>
            </h3>
        </div>
        <div class="testimonial-carousel">
            <!--Slide Item-->
            @foreach (var item in Model.Item3.Where(c => c.statee == 1))
            {
                <div class="slide-item">
                    <div class="inner-box text-center">
                        <div class="image-box">
                            <figure>
                                <img src="~/Content/images/@Url.Content(item.patient.picpatient)" alt="">
                            </figure>
                        </div>
                        <h6>@item.patient.patientName</h6>
                        <p>@item.message</p>
                    </div>
                </div>
            }

            <!--Slide Item-->

        </div>
    </div>
</section>
<!--End testimonial-section-->
<!--End testimonial-section-->
<!-- Contact Section -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
@if (TempData["swal_message"] != null && TempData["notUser"]?.ToString() != null && TempData["notUser"].ToString() != "")
{
    <script>
        Swal.fire({
            title: "@ViewBag.title",
            text: "@TempData["swal_message"]",
            icon: "@ViewBag.icon",

            allowOutsideClick: false, // prevent clicking outside the dialog to close it
            allowEscapeKey: false // prevent pressing the escape key to close it
        }).then(function () {
            window.location.href = "@Url.Action("Login", "Account")";
        });
    </script>
}

@if (TempData["swal_message"] == "Thank You for your feedback")
{
    <script>
        Swal.fire({
            title: "@ViewBag.title",
            text: "@TempData["swal_message"]",
            icon: "@ViewBag.icon",

            allowOutsideClick: false, // prevent clicking outside the dialog to close it
            allowEscapeKey: false // prevent pressing the escape key to close it
        }).then(function () {
       window.location.href = window.location.pathname;
        });
    </script>
}


@if (TempData["swal_message"] == "please Add Feedback before submit")
{
    <script>
        Swal.fire({
            title: "@ViewBag.title",
            text: "@TempData["swal_message"]",
            icon: "@ViewBag.icon",

            allowOutsideClick: false, // prevent clicking outside the dialog to close it
            allowEscapeKey: false // prevent pressing the escape key to close it
        }).then(function () {
            window.location.href =  "@Url.Action("About", "mainHome")";;
        });
    </script>
}
