@model IEnumerable<mainMasterpiesce.Models.doctor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashBoard.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
<script src="https://kit.fontawesome.com/cd43dd9542.js" crossorigin="anonymous"></script>




<style>

    .fa-file-zipper {
        font-size: 40px;
        text-align: center;
        align-items: center;
    }
</style>
@if (TempData["list"] != "Rejectlist")
{


    @section Content {
        <form action="AdminDoctor">
            <input type="text" class="form-control" placeholder="Search here" name="search">
            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
        </form>
    }

}




<div class="page-wrapper">


    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-7 col-auto">



                    @if (TempData["list"] == "Rejectlist")
                    {


                        <h3 class="page-title">
                            Pending Doctors
                        </h3>

                    }
                    else
                    {
                        <h3 class="page-title">
                            Accepted Doctors
                        </h3>

                    }










                 
                </div>
                <div class="col-sm-5 col">


                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">

                            @{
                                string q = Request.QueryString["listType"];
                                int test = 1;
                            }


                            @if (TempData["list"] == "Rejectlist"||q== "rejectlist")
                            {

                                test = 0;

                            }
                            else
                            {
                                test = 1;
                            }

                            @{ 


                                //                                if(q=="rejectlist")
                                //                                {

                                //                                    test = 0;
                                //}


                            }


                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>Doctor Name</th>
                                        <th>All Documentations</th>

                                        <th>Earned</th>
                                        <th>Account Status</th>
                                        <th>rating</th>
                                        <th>#No. appointments</th>
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>




                                    @foreach (var item in Model.Where(c => c.statedoctor == test))
                                    {


                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="@Url.Content(item.picdoctor)" alt="@item.picdoctor"></a>
                                                    <a href="profile.html">Dr. @item.doctorName</a>


                                                </h2>
                                                @if (item.specialization1 != null)
                                                {
                                                    <p style="color:gray;margin-top:10px;font-size:15px">  @item.specialization1.namespecialization</p>

                                                }

                                            </td>

                                            <td>



                                                <a href="DownloadAll?id=@item.doctorId" download><i class="fa-solid fa-file-zipper"></i></a>










                                            </td>


                                            <td>

                                                @{
                                                    int numm = 0;

                                                    foreach (var numb in item.appointments.Where(c => c.doctorId == item.doctorId && c.confirmappointment == 2))
                                                    {
                                                        numm++;


                                                    }




                                                    double totalprice = numm * Convert.ToInt16(item.pricePerHour) * .95;


                                                    //double amountdoc = Convert.ToDouble(totalprice) * .95;
                                                }

                                                @totalprice  JD





                                            </td>

                                            <td>
                                                @*<div class="status-toggle">
                                                        <input type="checkbox" id="status_1" class="check" checked>
                                                        <label for="status_1" class="checktoggle">checkbox</label>
                                                    </div>*@

                                                @if (item.statedoctor == 1)
                                                {


                                                    <span class="badge badge-pill bg-success-light">Confirm</span>


                                                }
                                                else
                                                {

                                                    <span class="badge badge-pill bg-danger-light">Pending</span>
                                                }

                                            </td>




                                            <td>
                                                @{

                                                    var ratt = item.ratingint;


                                                }

                                                @if (ratt != null)
                                                {

                                                    @ratt

}
else
                {
                    <p>there is no rating yet</p>
                }



                                            </td>
                                            <td>
                                                @{
                                                    int num = 0;

                                                }
                                                @foreach (var numb in item.appointments)
                                                {
                                                    num++; 


                                                }

                                                @num

                                            </td>
                                            @using (Html.BeginForm("AdminDoctor", "doctors", new { id = item.Id }, FormMethod.Post))
                                            {

                                                <td>


                                                    @if (test == 0)
                                                    {

                                                        @Html.ActionLink("Details", "Details", new { id = item.doctorId, listType = "rejectlist" }, new { @class = "btn btn-info" })


                                                    }
                                                    else
                                                    {

                                                        @Html.ActionLink("Details", "Details", new { id = item.doctorId }, new { @class = "btn btn-info" })

                                                    }






                                                    @*@Html.ActionLink("Details", "Details", new { id = item.doctorId }, new { @class = "btn btn-info" })*@
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.doctorId }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you want to delete this item?');" })







                                                    @if (item.statedoctor == 1)
                                                    {



                                                        <input type="hidden" name="Block" value="@item.doctorId" />



                                                        <input type="submit" name="Block" class="btn btn-danger" value="Block" />





                                                    }
                                                    else
                                                    {
                                                        <input type="hidden" name="Accept" value="@item.doctorId" />

                                                        <input type="submit" name="Accept" class="btn btn-primary" value="Accept" />
                                                    }



                                                </td>

                                            }

                                        </tr>
                                    }

                                </tbody>
                            </table>
























                        </div>
                    </div>
                </div>
            </div>
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
















            @if (TempData["swal_message"] == "Are you sure you want to block this doctor?")
            {
                <script>
        Swal.fire({
            title: "@ViewBag.title",
            text: "@TempData["swal_message"]",
            icon: "@ViewBag.icon",
            showCancelButton: true,
            confirmButtonText: "Confirm",
            cancelButtonText: "@ViewBag.cancelButton",
            allowOutsideClick: false, // prevent clicking outside the dialog to close it
            allowEscapeKey: false // prevent pressing the escape key to close it
        }).then((result) => {
            if (result.isConfirmed) {
                // User clicked "Confirm" button
                window.location.href = "/doctors/Block";
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                // User clicked "Cancel" button
                // Do nothing or add additional behavior as needed
            }
        });
                </script>
            }


            @if (TempData["swal_message"] == "Are you sure you want to Accept this doctor?")
            {
                <script>
        Swal.fire({
            title: "@ViewBag.title",
            text: "@TempData["swal_message"]",
            icon: "@ViewBag.icon",
            showCancelButton: true,
            confirmButtonText: "Confirm",
            cancelButtonText: "@ViewBag.cancelButton",
            allowOutsideClick: false, // prevent clicking outside the dialog to close it
            allowEscapeKey: false // prevent pressing the escape key to close it
        }).then((result) => {
            if (result.isConfirmed) {
                // User clicked "Confirm" button
                window.location.href = "/doctors/Acceptt";
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                // User clicked "Cancel" button
                // Do nothing or add additional behavior as needed
            }
        });
                </script>
            }


            @if (TempData["swal_message"] == "You cannot block this doctor. To block a doctor, they must have more than 10 appointments with a rating less than 2. Please try again.")
            {
                <script>
          Swal.fire({
            title: "@ViewBag.title",
            text: "@TempData["swal_message"]",
            icon: "@ViewBag.icon",

             allowOutsideClick: false, // prevent clicking outside the dialog to close it
            allowEscapeKey: false // prevent pressing the escape key to close it


        }).then(function () {
            window.location.href = "AdminDoctor";

        });;
                </script>
            }




























