@model mainMasterpiesce.Models.feedback

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminDashBoard.cshtml";
}
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <a> <h3 class="page-title" onclick="toggleDisplay('upcoming-appointments')"> Reviews</h3></a>
                    <ul class="breadcrumb">
                        @*<li class="breadcrumb-item" id="prev"><a href="#" onclick="toggleDisplay('previous-appointments')">Previous Appointment</a></li>
                            <li class="breadcrumb-item" id="upc"><a href="#" onclick="toggleDisplay('upcoming-appointments')">upcoming-appointments</a></li>*@
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">


                <!-- Recent Orders -->
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="upcoming-appointments" class="appointments">
                                <hr />
                                <dl class="dl-horizontal">

                                    <dt>
                                        Patient Name
                                    </dt>

                                    <dd>


                                        @Model.patient.patientName

                                        <br />
                                        <img src="~/Content/images/@Url.Content(Model.patient.picpatient)" alt="@Model.patient.picpatient" width="100" />
                                    </dd>
                                 
                                    
                                    <dt>
                                 
                                        <br />
                                        Doctor Name
                                    </dt>

                                    <dd>
                                        @Model.doctor.doctorName
                                        <br />
                                        <img src="@Url.Content(Model.doctor.picdoctor)" alt="@Model.doctor.picdoctor" width="100" />
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.rating)
                                    </dt>

                                    <dd>
                                        @for (int i = 0; i < Model.rating; i++)
                                        {
                                            <i class="fas fa-star filled" style="color:goldenrod"></i>

                                        }


                                        @for (int i = 0; i < 5 - Model.rating; i++)
                                        {
                                            <i class="fas fa-star" style="color:gainsboro"></i>
                                        }
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.comment)
                                    </dt>

                                    <dd>
                                        @Model.comment.Substring(0, Model.comment.Length / 2)
                                        <br />
                                        @Model.comment.Substring(Model.comment.Length / 2)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.title)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.title)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.statefeedback)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.statefeedback)
                                    </dd>

                                    <dt>
                                        @if (Model.statefeedback == 1)
                                        {

                                            <span class="badge badge-pill bg-success-light">Confirm</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-pill bg-danger-light">Pending</span>


                                        }
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.feedbacktime)
                                    </dd>

                             

                                </dl>
                            </div>
                            <p>

                                @Html.ActionLink("Back to List", "Review", null, new { @class = "btn btn-secondary" })

                               
                            </p>


                        </div>
                    </div>
                </div>
            </div>
            </div>