@model IEnumerable<mainMasterpiesce.Models.specialization>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashBoard.cshtml";
}


<p>

</p>
<style>
    td.det {
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td.det div {
  width: 10px;
}

td.det p {
  display: inline-block;
  font-size: 16px;
  line-height: 1.2em;
  max-width: 100%;
}

@@media screen and (max-width: 400px) {
  td.det p {
    font-size: 14px;
  }
}

</style>

<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-7 col-auto">
                    <h3 class="page-title">Specialities</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Specialities</li>
                    </ul>
                </div>
                <div class="col-sm-5 col">

                    @*@Html.ActionLink("Create New", "Create")*@
                    @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-primary float-right mt-2" })

                    @*<a href="~/specializations/Create" data-toggle="modal" class="btn btn-primary float-right mt-2">Add</a>*@
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">


                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Specialities</th>
                                        <th>description</th>
                                        <th>Video</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>#SP00 @item.specializationId</td>

                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href="profile.html" class="">
                                                        <img class="avatar-img" src="~/Content/images/@item.picturespecialization" alt="@item.picturespecialization" width="100" height="100">
                                                    </a>
                                                    <a href="profile.html">@item.namespecialization</a>
                                                </h2>
                                            </td>


                                            <td class="det">
                                                <div>
                                                    <p>@item.descriptionspecialization</p>
                                                </div>
                                            </td>

                                            <td class="det" style="align-items:center">
                                                @*<iframe width="350" height="315" src="@item.videospecializaion"
                                                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*@
                                                <a href="@item.videospecializaion" class="btn btn-info">Display Video</a>

                                            </td>



                                            <td class="text-right">
                                                <div class="actions">

                                                    @Html.ActionLink("Edit", "Edit", new { id = item.specializationId }, new { @class = "btn btn-primary" })
                                                    @Html.ActionLink("Details", "Details", new { id = item.specializationId }, new { @class = "btn btn-info" })
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.specializationId }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you want to delete this item?');" })




                                                    @*<a class="btn btn-sm bg-success-light" data-toggle="modal" href="#edit_specialities_details">       </a>*@







                                                    @*<a data-toggle="modal" href="#delete_modal" class="btn btn-sm bg-danger-light"> </a>*@
                                                    @*<i class="fe fe-trash"></i>*@


                                                </div>
                                            </td>
                                        </tr>



                                    }

                                 
                                </tbody>
                            </table>






















                            @*<table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.namespecialization)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.descriptionspecialization)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.picturespecialization)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.videospecializaion)
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.namespecialization)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.descriptionspecialization)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.picturespecialization)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.videospecializaion)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.specializationId }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.specializationId }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.specializationId })
                                            </td>
                                        </tr>
                                    }

                                </table>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
